body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav a.active{
  border-bottom: 5px solid #333;
  transition: all ease 0.5s;
}
.home .post img{
  position: absolute;
  top: 15px;
  left: -100px;
  opacity: 0.6;
}
.home .post {
  overflow: hidden;
  padding-left: 80px; 
}
